@model IEnumerable<BOLayerMedCom.Patient>

@{
    ViewBag.Title = "PatientList";
    Layout = "~/Areas/Doctors/Views/Shared/DoctorsLayout.cshtml";
}
<div class="site-content">
    <div style="height:100%; width:100%; z-index:2; overflow-x:auto; overflow:hidden;">
        <div class="sidebar-nav" style="height: 100%;">
            <div class="sideNavBG">
                <ul class="nav normalNav text-left" style="padding-top:55%;padding-left:25%; padding-bottom:40%;">
                    <span class="glyphicon glyphicon-envelope btn-lg"></span>
                    <a href="#" class="hvr-float-shadow" style="font-size:25px;"><b>Messages</b></a>
                    <br />
                    <br />
                    <span class="glyphicon glyphicon-user btn-lg"></span>
                    <a href="#" class="hvr-float-shadow" style="font-size:25px;"><b>Profile</b></a>
                    <br />
                    <br />
                    <span class="glyphicon glyphicon-cog btn-lg"></span>
                    <a href="#" class="hvr-float-shadow" style="font-size:25px;"><b>Settings</b></a>
                    <br />
                    <br />
                    <span class="glyphicon glyphicon-comment btn-lg"></span>
                    <a href="#" class="hvr-float-shadow" style="font-size:25px;"><b>Doctors' Blog</b></a>
                    <br />
                    <br />

                </ul>
                <ul class="nav navIcon text-center">
                    <a href="#"  class="drops"><img src="~/Content/img/logoMed.png" style="height:50%; width:50%; padding-bottom:30%;" /></a>
                        <a href="#" class="hvr-glow dropdown-menu"><span class="glyphicon glyphicon-envelope btn-sm" style="font-size:25px;" data-toggle="tooltip" title="Message" data-placement="right"></span></a>
                        <a href="#" class="hvr-glow dropdown-menu"><span class="glyphicon glyphicon-user btn-sm " style="font-size:25px;" data-toggle="tooltip" title="Profile" data-placement="right"></span></a>
                        <a href="#" class="hvr-glow dropdown-menu"><span class="glyphicon glyphicon-cog btn-sm" style="font-size:25px;" data-toggle="tooltip" title="Settings" data-placement="right"></span></a>
                        <a href="#" class="hvr-glow dropdown-menu"><span class="glyphicon glyphicon-comment btn-sm" style="font-size:25px;" data-toggle="tooltip" title="Blog" data-placement="right"></span></a>
                    
                
                </ul>
            </div>
        </div>
        
            <div style="width:50%; overflow-x:auto; padding-left:2%;margin-top:3%" class="tableBG">
                <div class="searchBtnForTable" style="left:-5%; border:1px; border-color:#eaf8fb">
                    <div class="searchDiv" >
                        @using (Html.BeginForm())
                        {
                            <div class="form">
                                <input type="search" id="SearchString" name="SearchString" autocomplete="off";>


                                <button style="margin-left:2%"><span class="glyphicon glyphicon-search"> </span> </button>



                            </div>
                        }
                    </div>
                    
                    <table class="table box-shadow--6dp table-hover borders" style="margin-top:7%;">

                        <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td>
                                        <p class="text-center alert alert-danger">No Item to Show </p>
                                    </td>
                                </tr>
                            }

                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center" style="font-size:19px; color:#2098D1">
                                            <span class="text-left NameText">
                                                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                            </span>
                                            <br />
                                            @{
                                                String s = String.Format("{0:dd MMM yy}", item.PatientSince);
                                            }
                                            <span class="DateText">Enrollment Date: @s </span>
                                        </td>
                                        <td>
                                            <span style="color:#032129;">Mail:</span> @Html.DisplayFor(modelItem => item.Email)
                                            <br />
                                            <span style="color:#032129;">Cell:</span> @Html.DisplayFor(modelItem => item.Contact)
                                        </td>
                                        

                                    </tr>
                                                    }
                                                }
                        </tbody>
                    </table>
                </div>
                
            <div class="text-center" >
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="disabled"><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul><br>
               <b>@Model.Count() Patient(s) found</b>
                <br />
                <p style="margin-top:3%">Search Tag: <span class="label label-info" style="font-size:16px;"> @ViewBag.Stag</span> </p> 
            </div>
        </div>
     </div>
</div>
<div class="site-cache" id="site-cache"></div>
<script>
    $(function () {
        var menuVisible = false;
        $('.drops').click(function () {
            if (menuVisible) {
                $('.dropdown-menu').css({ 'display': 'none' });
                menuVisible = false;
                return;
            }
            $('.dropdown-menu').css({ 'display': 'block' });
            menuVisible = true;
        });
        $('.dropdown-menu').click(function () {
            $(this).css({ 'display': 'none' });
            menuVisible = false;
        });
    });
</script>










@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientID })
        </td>
    </tr>
}

</table>*@
