@model IEnumerable<BOLayerMedCom.Patient>

@{
    ViewBag.Title = "PatientList";
    Layout = "~/Areas/Doctors/Views/Shared/DoctorsLayout.cshtml";
}

        
            <div style="width:50%; overflow-x:auto; padding-left:2%;margin-top:3%" class="tableBG">
                <div class="dashboardInfo" style="padding-top:1%">
                    <img src="~/Content/img/491406528.jpg" width="80" height="80" style="float:left;"/>
                    <div style="padding-left:7%;padding-top:1%">
                        <ul>
                            <li>See all patient details</li>
                            <li>Add a new patient record</li>
                            <li>Add Diagnosis Report & billing information of your patient</li>
                        </ul>
                    </div>
                </div>
                
                        @*<span class="site-text text-left" style="padding-left:1%;">All your patients are enlisted here. You can manage health records of your patients.</span>*@
                <div class="searchBtnForTable" style="left:-5%; border:1px; border-color:#eaf8fb">
                    <div class="searchDiv" >
                        @using (Html.BeginForm())
                        {
                            <div class="form">
                                <input type="search" id="SearchString" name="SearchString" autocomplete="off";>


                                <button style="margin-left:2%"><span class="glyphicon glyphicon-search"> </span> </button>



                            </div>
                        }
                    </div>
                    
                    <div>
                        <table class="table box-shadow--6dp table-hover borders" style="margin-top:7%;">

                            <tbody>
                                @if (!Model.Any())
                                {
                                    <tr>
                                        <td>
                                            <p class="text-center alert alert-danger">No Item to Show </p>
                                        </td>
                                    </tr>
                                }

                                else
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center" style="font-size:19px; color:#2098D1">
                                                <span class="text-left NameText">
                                                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                                </span>
                                                <br />
                                                @{
                                                    String s = String.Format("{0:dd MMM yy}", item.PatientSince);
                                                }
                                                <span class="DateText">Enrollment Date: @s </span>
                                            </td>
                                            <td>
                                                <span style="color:#032129;">
                                                    <img src="~/Content/img/mail-icon-128.png" height="20" width="20" /> </span> @Html.DisplayFor(modelItem => item.Email)
                                                <br />
                                                <span style="color:#032129; padding-top:10%">
                                                    <img src="~/Content/img/phone-7-512.png"   height="20" width="20"/>
                                                </span> @Html.DisplayFor(modelItem => item.Contact)
                                            </td>


                                        </tr>
                                                        }
                                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
                
            <div class="text-center" >
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="disabled"><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul><br>
               <b>@Model.Count() Patient(s) found</b>
                <br />
                <p style="margin-top:3%">Search Tag: <span class="label label-info" style="font-size:16px;"> @ViewBag.Stag</span> </p> 
            </div>
        </div>
     </div>
</div>
<div class="site-cache" id="site-cache"></div>











@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientID })
        </td>
    </tr>
}

</table>*@
