
@{
    ViewBag.Title = "AdminDash";
    Layout = "~/Areas/Admins/Views/Shared/AdminLayout.cshtml";
}


<div class="col-lg-12 col-md-12 col-sm-12" >
    <div class="col-lg-2 col-md-2 hidden-sm leftPanel" style="background-color:#def0f9;">
        <div class="row ">
            <ul>
                <li class="hoverAnimate"><a href="@Url.Action("Index","DoctorList")">Doctor's List</a></li>
                <li class="hoverAnimate"><a href="@Url.Action("Index","AdminList")">Admin's List</a></li>
                <li class="hoverAnimate"><a href="@Url.Action("Index","PatientList")">Patient's List</a></li>
                <li class="hoverAnimate"><a href="@Url.Action("Index","RegionList")">Region's List</a></li>
                <li class="hoverAnimate"><a href="@Url.Action("Index","Districts")">District's List</a></li>
                <li class="hoverAnimate"><a href="@Url.Action("Index","DoctorList")">Support Token Reports</a></li>

            </ul>

        </div>

    </div>
    <div class="col-lg-6 col-md-4 col-sm-12">
        <h1 class="text-center">Generel Information</h1>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        @*<svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>*@
                        icon hobe
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@ViewBag.docCount</div>
                        <div class="wwatext-muted">Total Doctors</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        @*<svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>*@
                        icon hobe
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@ViewBag.patCount</div>
                        <div class="text-muted">Total Patients</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-teal panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        @*<svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>*@
                        icon hobe
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@ViewBag.regionCount</div>
                        <div class="text-muted">Regions Registered</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-teal panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        @*<svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>*@
                        icon hobe
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@ViewBag.districtCount</div>
                        <div class="text-muted">Districts Registered</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12 well" style="margin-top:5%;">

        Add new Admins,Doctors and Patients manually here. <br /><br />
        You must not add any information here which may raise confusion among the Users.
    </div>
  
</div>

