@model BOLayerMedCom.ViewModels.UserVM
@{
    Layout = "~/Areas/Global/Views/Shared/_GlobalLayout.cshtml";
    ViewBag.Title = "Home";
}

<div class="site-content">
    <section class="search-section">
        <div class="container hidden-xs" style="height:63%; z-index:2;">
            <div class="row">
                <div class="col-sm-12" style="text-align:right; padding-top:7%; padding-bottom:5%;">
                    <p style="font-size:40px; line-height:1; color:  #2c3e50">
                        Access Health Records
                        <br>
                        From Your Home
                    </p>
                    <p style="font-size:17px; color:  #2c3e50">

                        Easing health-care sector services
                        <br>
                        with a smooth, secure & comfortable Electronic Health Record

                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background: rgba(45, 62, 82, 0.65); padding:15px; padding-left:0px; padding-right:0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" style="border: 5px solid rgba(0,0,0,0.3);">
                        <div class="row">
                            <form class="ng-pristine ng-valid ng-touched">
                                <div class="col-xs-12 col-md-6 col-sm-6 nopadding">
                                    <div class="inner-addon left-addon">
                                        <i class="glyphicon glyphicon-search" style="font-size:1.4em;margin-top:5px; position:absolute;"></i>
                                        <input autocomplete="off" class="input-text full-width white-bg"
                                               name="procedure" style="height: 45px; padding-left: 33px;border: 1px solid rgba(45, 62, 82, 0.65);"
                                               placeholder="Search tags" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3 col-sm-3 nopadding">
                                    <div class="inner-addon left-addon">

                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3 col-sm-3 nopadding">
                                    <button class="full-width col-xs-12 col-md-2 nopadding" style="height: 45px; background-color:#b0c9d7">
                                        Search
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row hidden-sm hidden-xs">
                        <div class="col-xs-12 col-md-11 col-md-offset-2" style="padding-left:10px; padding-top:5px;">
                            <div class="white-color" style="font:13px;color: #cacfd2 ; padding-left:2%;">
                                <strong>
                                    Hint:
                                </strong>
                                <span>Type Search criteria,</span>
                                <span>Select Catagory,</span>
                                <span>Browse on your intended category,</span>
                                <span>See doctor's public information</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content" style="padding-top:0px;">
        <div class="container">
            <div class="section">
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <div class="doctorsLoginInfo col-md-4 col-lg-4 text-center">
                        <span class="glyphicon glyphicon-plus"></span>
                        <h1>
                            Log into your doctor account
                        </h1>
                        Access to various EHR and EMR services from your doctor account.
                        We offer using the Doctor's blog, Medication list and several other features
                        from your free account.
                    </div>
                    <div class="col-lg-3">

                    </div>
                    <div class="doctorsLoginBox col-md-4">
                        <div id="login-dp">
                            <div class="row">
                                <div class="col-md-12 well">
                                   
                                    @if (ViewBag.WrongPW != null)
                                    {
                                        if (ViewBag.WrongPW)
                                        {
                                            <div class="alert alert-danger text-center"><b>Password Mismatch!<br /></b>Please provide your valid password</div>
                                        }
                                    }

                                    @if (ViewBag.NoUser != null)
                                    {
                                        if (ViewBag.NoUser)
                                        {
                                            <div class="alert alert-danger text-center"><b>No User!!<br /></b>Please enter your correct UserName</div>
                                        }
                                    }






                                    @if (ViewBag.RegSuccess != null)
                                    {
                                        if (ViewBag.RegSuccess)
                                        {
                                            <div class="alert alert-success text-center"><b>Registration Successful.<br /> Login with your credentials.</b></div>
                                        }
                                    }
                                    <h1 class="text-center">Login to explore</h1>
                                    @using (Html.BeginForm("Login", "Doctor", new { area = "Doctors" }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            @*<label class="sr-only" for="exampleInputEmail2">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>*@

                                            @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", placeholder = "username" } })
                                            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                                        </div>
                                                <div class="form-group">
                                                    @*<label class="sr-only" for="exampleInputPassword2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">*@

                                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "password", type = "password" } })
                                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                                    <div class="help-block text-right"><a href="">Forgot the password ?</a></div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block" style="width:50%;">Sign in</button>
                                                </div>

                                    }
                                </div>
                                <div class="bottom text-center">
                                    New here?
                                    @Html.ActionLink("Open an account to access our free features", "Register", "Doctor", new { area = "Doctors" }, new { @style="text-decoration:none" })
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> <!-- site-content -->
