<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>
    
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <link href="~/Content/AnimateCSS/animate.css" rel="stylesheet" />
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />

    <script src="~/Scripts/lumino.glyphs.js"></script>
    <link rel="stylesheet" href="~/Content/style.css">
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body id="body" >
    @* Absolute div *@
    <div id="absoluteDiv" style-="position:absolute;">

    </div>
    
    <div >
        <header class="hidden-sm header" >

            <div class="row">
                <a href="@Url.Action("Index","AdminDash")" class="header__logo" style="text-decoration:none;">
                    <h1><b>MEDIYARD</b></h1>
                    <span style="position:absolute; top:12%;margin-left:0;left:170px;">Administrator Panel</span>
                </a>
            

            <ul class="user-menu" >
                
                <li class="dropdown pull-right" style="margin-right:20%;">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> @User.Identity.Name<span class="caret" style="font-size:40px;"></span></a>
                    <ul class="dropdown-menu "  role="menu">
                        <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                        <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
                        <li><a href="@Url.Action("SignOut","AdminDash")"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                        @*<li>@Html.ActionLink("Log Out","SignOut")</li>*@
                    </ul>
                </li>
            </ul>
                </div>
        </header>
        <div class="site-content " >

            

            @RenderBody()
            <div class="site-cache" id="site-cache"></div>
        </div>
    </div><!--Site-container-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


  
    <script>
        $(document).ready(function () {

            (function ($) {


                $('#header__icon').click(function (e) {
                    e.preventDefault();
                    $('body').toggleClass('with--sidebar');
                });

                $('#site-cache').click(function (e) {
                    $('body').removeClass('with--sidebar');
                });

            })(jQuery);

        });




        function adminLoginOverlay() {
            $("#overlay").css("display","block");
        }


        function closeOverlay() {

            $(".loginPopUp").removeClass("bounceIn");
            $(".loginPopUp").addClass("bounceOut");
            $("#overlay").addClass("animated");
            //$("#overlay").addClass("fadeOut");

            $("#overlay").css("display", "none");
        }

        $(".hoverAnimate").hover(function () {

            $(this).addClass("animated pulse")
        },
        function () {

            $(this).removeClass("animated pulse")
        }
        
        )

    </script>




    <div id="overlay" onclick="closeOverlay()">

    </div>

</body>



</html>
